@import 'abstracts/variables';
@import 'abstracts/fonts';
@import 'base/normalize.css';
@import 'components/buttons';
@import 'components/card';
@import 'layout/header';
@import 'layout/_start-screen.scss';
@import 'layout/about';
@import 'layout/pets';
@import 'layout/help';
@import 'layout/donation';
@import 'layout/footer';
@import 'pages/main';
@import 'pages/our-pets';
@import 'themes/theme';
@import 'vendors/bootstrap';

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  font-size: 10px;
  @media only screen and (max-width: 1024px){
    font-size: 8px;
  }
  @media only screen and (max-width: $tablet){
    font-size: 7px;
  }
  @media only screen and (max-width: $mobile){
    font-size: 5px;
  }
}

body {
  background: $color-light-xl;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

img {
  @media only screen and (max-width: $tablet) {
    max-width: 100%;
    height: auto;
  }
}