@import 'abstracts/variables';
@import 'base/normalize.css';
@import 'components/buttons';
@import 'layout/header';
@import 'layout/_start-screen.scss';
@import 'layout/about';
@import 'layout/pets';
@import 'layout/footer';
@import 'pages/main';
@import 'themes/theme';
@import 'vendors/bootstrap';

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  font-size: 10px;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
}

.main {
  min-height: calc(100vh-$heightfooter);
}
