@import 'abstracts/variables';
@import 'base/normalize.css';
@import 'components/buttons';
@import 'layout/header';
@import 'pages/main';
@import 'themes/theme';
@import 'vendors/bootstrap';

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0px auto;
}
