.primary-button {
    padding: 1.4rem 4.3rem;
    background: $color-primary;
    border: 0px;
    border-radius: 10rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 1.7rem;
    line-height: 2.21rem;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    &:hover {
        background-color: $color-primary-light;
    }
}

.secondary-button {
    @extend .primary-button;
    background: $color-light-l;
    border: $color-primary 0.1rem solid;
    color:$color-dark-3xl;
    &:hover {
        background-color: $color-primary-light;
    }
}

.button-arrow {
    width: 5.2rem;
    height: 5.2rem;
    background-image: url('../../../assets/Arrow.png');
    background-color: $color-light-l;
    background-position: center;
    background-repeat: no-repeat;
    color: $color-dark-3xl;
    border: 2px solid $color-primary;
    border-radius: 10rem;
    &:hover {
        background-color: $color-primary;
    }
    &__inactive {
        color: $color-dark-s; 
        border-color: $color-dark-s;  
    }
}