.about__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    padding: 6.7rem 17.6rem 9.8rem 11.4rem;
}
.about {
    &__picture {
        
    }
    &__content {
        width: 43rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 1.8rem;
    }
    &__information {
        margin: 0px;
        margin-bottom: 2.4rem;
        margin-left: 0.2rem;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 2.4rem;
        display: flex;
        align-items: center;
        color: $color-dark-xl;
    }
}
.about__title {
    margin: 0;
    margin-left: 0.4rem;
    margin-bottom: 2.3rem;
    padding-right: 5rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 4.5rem;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    color: $color-dark-l;
}