.footer {
    width: 100%;
    background: url(../../assets/noise_lines_transparent@2X.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    a {
        text-decoration: none;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        gap: 14rem;
        padding-top: 4rem;
        @media only screen and (max-width: 1200px){
            gap: 0rem;
        }
        @media only screen and (max-width: $tablet){
            padding-top: 1.5rem;
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 2rem 4rem;
          }
        @media only screen and (max-width: $mobile){
          }
    }
    
    .footer-contact {
        display: flex;
    flex-direction: column;
    align-self: flex-start;
    @media only screen and (max-width: $tablet) {
        width: 43%;
        padding-left: 2.5rem; 
    }
    @media only screen and (max-width: $mobile){
        width: 100%;
        padding-left: 1rem; 
        }
        &__title {
            margin: 0px;
            margin-top: 1.6rem;
            margin-bottom: 4rem;
            @include text-h3;
            color: $color-light-xl;
            @media only screen and (max-width: $mobile){
                text-indent: 2rem;
                }
        }
        &__mail {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 3.5rem;
            &:before {
                content: url('../../../assets/icon-email.svg');
                margin-right: 1.8rem;
            }
        }
        &__phone {
            display: flex;
            flex-direction: row;
            align-items: center;
            &:before {
                content: url('../../../assets/icon-phone.svg');
                margin-right: 1.8rem;
            } 
        }
        &__mail,
        &__phone {
            @include text-h4;
            color: $color-primary;
        }
    }

    .footer-location {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        padding-right: 2rem;
        @media only screen and (max-width: $tablet) {
            width: 46%;
            padding-right: 2.5rem; 
        }
        @media only screen and (max-width: $mobile){
            width: 100%;
            padding-right: 0rem; 
            padding-bottom: 3.7rem;
        }
            &__title {
                margin: 0px;
                margin-top: 1.6rem;
                margin-bottom: 3.5rem;
                @include text-h3;
                color: $color-light-xl;
                @media only screen and (max-width: $mobile){
                    text-align: center;
                    margin-bottom: 3rem;
                }
            }
            &__addres {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 3.2rem;
                @include text-h4;
                color: $color-primary;
                &:before {
                    content: url('../../../assets/icon-marker.svg');
                    margin-right: 1.8rem;
                }
        }
        &__pict {
                justify-items: center;
        }
    }
}