.header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 6rem;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-logo {
    display: flex;
    flex-direction: column;  
}

.header-logo-title {
    margin-bottom: 1rem;
    color: $color-primary;
    @include logo-title;
}

.header-logo-subtitle {
    padding-left: 0.4rem;
    color: $color-light-xl;
    @include logo-subtitle(1.3rem, 1.5rem, 0.1em);
}

.header__navigation {
    width: 44.6rem;
}

.header-menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.header-menu-list-item {
    @include parag-l;
    a {
        color: $color-dark-s;
        text-decoration: none;  
    }
    &.item_active {
        color: #FAFAFA;
        border-bottom: $color-primary 2px solid;
    }
}