@mixin font-title($size, $height, $spacing) {
    font-family: Arial;
    font-size: $size;
    font-style: normal;
    font-weight: 400;
    line-height: $height;
    letter-spacing: $spacing;
    text-align: left;  
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    padding-top: 6rem;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-logo {
    display: flex;
    flex-direction: column;  
}

.header-logo-title {
    margin-bottom: 1rem;
    color: $color-primary;
    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;

}

.header-logo-subtitle {
    padding-left: 0.4rem;
    color: $color-light-xl;
    @include font-title(13px, 15px, 0.1em);
}

.header__navigation {
    width: 44.6rem;
}

.header-menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.header-menu-list-item {
    @include font-title(15px, 24px, 0px );
    a {
        color: $color-dark-s;
        text-decoration: none;  
    }
    &.item_active {
        color: #FAFAFA;
        border-bottom: $color-primary 2px solid;
    }
}