.header {
    width: 100%;
    padding-top: 6rem;
    background-color: black;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.header-logo {
    display: flex;
    flex-direction: column;  
}

.header-logo-title {
    margin-bottom: 1rem;
    color: $color-primary;
    font-family: Georgia;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    text-align: left;

}

.header-logo-subtitle {
    color: $color-light-xl;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-align: left;

}

.header__navigation {
    width: 44.7rem;
}

.header-menu-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.header-menu-list-item {
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    a {
        color: $color-dark-s;
        text-decoration: none;
        
    }

    &.item_active {
        //styleName: paragraph-l;
        font-family: Arial;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;

        color: #FAFAFA;

        border-bottom: $color-primary 2px solid;


    }
}