@mixin center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.help{
    background: $color-light-xl;
    padding-top: 8rem;
    padding-bottom: 10rem;
    &__title {
        margin: 0px;
        padding: 0rem 0.4rem 6rem 0.6rem;
        @include text-h3;
        text-align: center;
        color: $color-dark-l;
        p {
            margin: 0px;
        }
    }
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 5.5rem 11.9rem;
        margin: 0px 8.5rem;
        padding: 0px;
        @include text-h4;
        color: $color-dark-l;
        list-style-type: none;
    }
    .list {
        &__item {
            margin: 0px;
            @include center();
            &_first {
                &:before {
                    content: url('./../../../assets/icon-pet-food.png');
                    margin-bottom: 2.5rem;
                }
            }
            &_second {
                &:before {
                    content: url('../../../assets/icon-transportation.png');
                    margin-bottom: 2.5rem;
                }
            }
            &_third {
                &:before {
                    content: url('../../../assets/icon-toys.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_forth {
                &:before {
                    content: url('../../../assets/icon-bowls-and-cups.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_fiveth {
                &:before {
                    content: url('../../../assets/icon-shampoos.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_sixth {
                margin-left: auto;
                &:before {
                    content: url('../../../assets/icon-vitamins.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_seventh {
                &:before {
                    content: url('../../../assets/icon-medicines.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_eighth {
                &:before {
                    content: url('../../../assets/icon-collars-leashes.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_nineth {
                margin-right: auto;
                &:before {
                    content: url('../../../assets/icon-sleeping-area.svg');
                    margin-bottom: 2.5rem;
                }
            }
        }
    }
}
