@mixin center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.help{
    background: $color-light-xl;
    padding-top: 8rem;
    padding-bottom: 10rem;
    &__title {
        margin: 0px;
        padding-left: 0.6rem;
        padding-right: 0.4rem;
        padding-bottom: 6rem;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 3.5rem;
        line-height: 4.5rem;  
        text-align: center;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        p {
            margin: 0px;
        }
    }
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 5.5rem 11.9rem;
        margin: 0px;
        margin: 0px 8.5rem;
        padding: 0px;
        list-style-type: none;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 2rem;
        line-height: 2.3rem;
        letter-spacing: 0.06em;
        color: $color-dark-l;
    }
    .list {
        &__item {
            margin: 0px;
            @include center();
            &_first {
                &:before {
                    content: url('./../../../assets/icon-pet-food.png');
                    margin-bottom: 2.5rem;
                }
            }
            &_second {
                &:before {
                    content: url('../../../assets/icon-transportation.png');
                    margin-bottom: 2.5rem;
                }
            }
            &_third {
                &:before {
                    content: url('../../../assets/icon-toys.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_forth {
                &:before {
                    content: url('../../../assets/icon-bowls-and-cups.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_fiveth {
                &:before {
                    content: url('../../../assets/icon-shampoos.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_sixth {
                margin-left: auto;
                &:before {
                    content: url('../../../assets/icon-vitamins.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_seventh {
                &:before {
                    content: url('../../../assets/icon-medicines.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_eighth {
                &:before {
                    content: url('../../../assets/icon-collars-leashes.svg');
                    margin-bottom: 2.5rem;
                }
            }
            &_nineth {
                margin-right: auto;
                &:before {
                    content: url('../../../assets/icon-sleeping-area.svg');
                    margin-bottom: 2.5rem;
                }
            }
        }
    }
}
