.pets {
    background-color: $color-light-l;
    &__wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 8rem;
        padding-bottom: 10rem;
        .primary-button {
            margin: 0px auto;
            a {
                text-decoration: none;
                color: $color-dark-3xl;
            }
        }
    }
    &__title {
        margin-bottom: 6rem;
        padding-right: 0.5rem;
        h3 {
            margin: 0px;
            padding-left: 0.7rem;
            @include text-h3;
            text-align: center;
            color: $color-dark-l;
        }
    }
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-bottom: 6rem;
    }
    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; 
        order: 2;
        width: 100%;
        padding: 0 0.7rem;
    }
}

.button-arrow {
    margin-bottom: 0.5rem;
    &_prev {
       margin-left: 0.2rem;
       order: 1;
    }
    &_next {
        margin-right: 0.2rem;
        transform: rotate(180deg);
        order: 3;
    }
}