@import url(base/normalize.css);
.header {
  width: 100%;
  padding-top: 6rem;
  background-color: black; }
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.header-logo {
  display: flex;
  flex-direction: column; }

.header-logo-title {
  margin-bottom: 1rem;
  color: #F1CDB3;
  font-family: Georgia;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left; }

.header-logo-subtitle {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left; }

.header__navigation {
  width: 44.7rem; }

.header-menu-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

.header-menu-list-item {
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left; }
  .header-menu-list-item a {
    color: #CDCDCD;
    text-decoration: none; }
  .header-menu-list-item.item_active {
    font-family: Arial;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #FAFAFA;
    border-bottom: #F1CDB3 2px solid; }

* {
  box-sizing: border-box;
  font-family: sans-serif; }

:root {
  font-size: 10px; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto; }
