@import url(base/normalize.css);
.primary-button, .secondary-button {
  padding: 1.4rem 4.3rem;
  background: #F1CDB3;
  border: 0px;
  border-radius: 10rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.21rem;
  letter-spacing: 0.06em;
  color: #292929; }
  .primary-button:hover, .secondary-button:hover {
    background-color: #FDDCC4; }

.secondary-button {
  background: #F6F6F6;
  border: #F1CDB3 0.1rem solid;
  color: #292929; }
  .secondary-button:hover {
    background-color: #FDDCC4; }

.button-arrow {
  width: 5.2rem;
  height: 5.2rem;
  background-image: url("../../../assets/Arrow.png");
  background-color: #F6F6F6;
  background-position: center;
  background-repeat: no-repeat;
  color: #292929;
  border: 2px solid #F1CDB3;
  border-radius: 10rem; }
  .button-arrow:hover {
    background-color: #F1CDB3; }
  .button-arrow__inactive {
    color: #CDCDCD;
    border-color: #CDCDCD; }

.header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding-top: 6rem; }
  .header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.header-logo {
  display: flex;
  flex-direction: column; }

.header-logo-title {
  margin-bottom: 1rem;
  color: #F1CDB3;
  font-family: Georgia;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.06em;
  text-align: left; }

.header-logo-subtitle {
  padding-left: 0.4rem;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-align: left; }

.header__navigation {
  width: 44.6rem; }

.header-menu-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style-type: none; }

.header-menu-list-item {
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left; }
  .header-menu-list-item a {
    color: #CDCDCD;
    text-decoration: none; }
  .header-menu-list-item.item_active {
    color: #FAFAFA;
    border-bottom: #F1CDB3 2px solid; }

.start-screen {
  padding-top: 13rem;
  background: url(../../assets/noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20; }
  .start-screen__content {
    margin-bottom: 9rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; }

.start-screen__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 5.3rem; }

.start-screen__title {
  padding-right: 19rem;
  margin: 0px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  color: #FFFFFF; }

.start-screen__subtitle {
  padding-right: 3rem;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD; }

.about__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 8rem 4.8rem 9.5rem 4.4rem; }

.about__content {
  width: 43rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

.about__information {
  margin: 0px;
  margin-bottom: 2.4rem;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.4rem;
  display: flex;
  align-items: center;
  color: #4C4C4C; }

.about__title {
  margin: 0;
  margin-bottom: 2.3rem;
  padding-top: 1rem;
  padding-right: 5rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 4.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454; }

.pets {
  background-color: #F6F6F6; }
  .pets__wrapper {
    padding-top: 8rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column; }
    .pets__wrapper .primary-button, .pets__wrapper .secondary-button {
      margin: 0px auto; }
  .pets__title {
    margin-bottom: 6rem;
    padding-right: 0.5rem; }
    .pets__title h3 {
      margin: 0px;
      padding-left: 0.7rem;
      font-family: Georgia;
      font-style: normal;
      font-weight: normal;
      font-size: 3.5rem;
      line-height: 4.5rem;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454; }
  .pets__container {
    padding-bottom: 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
  .pets__content {
    width: 100%;
    padding: 0 0.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }

.card {
  width: 27rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA; }
  .card img {
    width: 100%;
    height: auto;
    border-radius: 9px 9px 0px 0px; }
  .card__name {
    margin: 0px;
    padding: 2.8rem 0px 3rem;
    margin-bottom: 0rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.3rem;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454; }
  .card .secondary-button {
    color: #292929; }

.button-arrow {
  margin-bottom: 0.5rem; }
  .button-arrow_prev {
    margin-left: 0.2rem; }
  .button-arrow_next {
    margin-right: 0.2rem;
    transform: rotate(180deg); }

.help {
  background: #FFFFFF;
  padding-top: 8rem;
  padding-bottom: 10rem; }
  .help__title {
    margin: 0px;
    padding-left: 0.6rem;
    padding-right: 0.4rem;
    padding-bottom: 6rem;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5rem;
    line-height: 4.5rem;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454; }
    .help__title p {
      margin: 0px; }
  .help__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px 4rem;
    list-style-type: none;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: 0.06em;
    color: #545454; }
  .help .list__item {
    margin: 0 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .help .list__item_first:before {
      content: url("./../../../assets/icon-pet-food.png");
      margin-bottom: 3rem; }
    .help .list__item_second:before {
      content: url("../../../assets/icon-transportation.png");
      margin-bottom: 3rem; }
    .help .list__item_third:before {
      content: url("../../../assets/icon-toys.svg");
      margin-bottom: 3rem; }
    .help .list__item_forth:before {
      content: url("../../../assets/icon-bowls-and-cups.svg");
      margin-bottom: 3rem; }
    .help .list__item_fiveth:before {
      content: url("../../../assets/icon-shampoos.svg");
      margin-bottom: 3rem; }
    .help .list__item_sixth:before {
      content: url("../../../assets/icon-vitamins.svg");
      margin-bottom: 3rem; }
    .help .list__item_seventh:before {
      content: url("../../../assets/icon-medicines.svg");
      margin-bottom: 3rem; }
    .help .list__item_eighth:before {
      content: url("../../../assets/icon-collars-leashes.svg");
      margin-bottom: 3rem; }
    .help .list__item_nineth:before {
      content: url("../../../assets/icon-sleeping-area.svg");
      margin-bottom: 3rem; }

.footer {
  width: 100%;
  height: 35rem;
  background: url(../../assets/noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20; }

* {
  box-sizing: border-box;
  font-family: sans-serif; }

:root {
  font-size: 10px; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto; }

.main {
  min-height: calc(100vh-$heightfooter); }
